.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
   flex-direction: column;
   height: 50px;
  

    ul{
        display: flex;
        flex-direction: row;

    }

            li{
                list-style: none;
                padding: 10px;
                margin: 10px;
            }
}
.footerT{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 30px;
    

    span{
        color: var(--red-900);
        
    }
    p{
        color: var(--white);
        //align-items: end;
        
    }
}

